.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  word-wrap:break-word;
}

.aboutBottom p {
  width: 80%;
  word-wrap: break-word;

}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: auto;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
